h1 {
    color: blue;
    text-align: center;
}


tbody {
    position: absolute;
    top: 200px;
    left: 44.5%;
}

.cover > tr > td {
    font-size: 50px;
    background-color: black;
    color: rgba(0,0,0,0);
    user-select: none;
}

.cover {
    opacity: 1;
}

.number > tr > td {
    font-size: 50px;
    background-color: grey;
    color: rgba(0,0,0,1);
    user-select: none;
}