body {
    background-size: cover;
  }

h2 {
    display: flex;
    color: white;
    font-size: 200px;
    justify-content: center;
}

output {
    -webkit-text-stroke: 3px red;
    color: black;
    font-size: 150px;
    position: absolute;
}

.mode {
    text-align: center;
    margin-top: 30%;
}

.screen {
    display: flex;
    margin-left: 20%;
    margin-top: 10%;
}

.buttons {
    font-size: 50px;
    margin: 10px 
}

table {
    display: flex;
    justify-content: center;
}


tbody {
    position: absolute;
    border: 2px black solid;
    background: white;

}

.cover > tr > td {
    font-size: 30px;
    background-color: black;
    color: black;
    user-select: none;
    text-align: center;
    width: 40px;
    height: 40px;
}

#Meme {
    position: absolute;
    bottom: 0;
}

